/**共通 */
body{
    background-color: #8fbc8f;
    color: #313131;
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans JP','Roboto','Roboto Slab',sans-serif;
    min-height: 100vh;
}

a{
    cursor: pointer;
}

a:hover{
    opacity: 0.7;
}


/**ヘッダー */
#header-nav{
    width: 100%;
}

#header-nav h1{
    text-align: center;
    height: 100px;
    margin-inline: auto;
    padding: 32px 0;
    font-size: 24px;
    font-family: 'Roboto Slab';
    font-weight: bold;
    background-image:url('../img/header-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #f8f8ff;
}

.header-nav-list{
    display: flex;
    justify-content: space-between;
    margin-inline: auto;
    padding: 8px 16px;
    width: min(416px,100%);
    font-family: 'Roboto Slab';
    font-size: 16px;
    font-weight: bold;
    
}

/**ニュースセクション*/
#news-section{
    margin-inline: auto;
    width: clamp(320px,100%,1320px);
}

.news-section-inner-box{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    width: 100%;
}

.news-section-title{
    background-color: #f8f8ff;
    height: 40px;
    padding: 8px 24px;
    width: fit-content;
    border: 2px solid #313131;
    font-family: 'Roboto Slab';
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
}

.news-item{
    display: flex;
    gap: 8px;
    font-size: 16px;
    line-height: 24px;
}

.news-item p{
    font-family: 'Roboto Slab';
}

.news-item h2{
    text-decoration: underline;
}

/**おすすめメニューセクション*/

#recommendation-menu-section{
    padding: 40px 16px 16px;
    width: max(320px,100%);
}

.recommendation-menu-inner-box{
    margin-inline: auto;
    width: min(1280px,100%);
}

.recommendation-menu-title-box{
    display: flex;
    gap: 8px;
    justify-content: space-between;
    width: min(960px,100%);
    font-family: 'Roboto Slab';
    font-weight: bold;
    white-space: nowrap;
    align-items: center;
    margin-bottom: 24px;
}

.recommendation-menu-title-box h2{
    background-color: #f8f8ff;
    height: 40px;
    padding: 8px 24px 24px 24px;
    width: fit-content;
    border: 2px solid #313131;
    font-size: 20px;
    line-height: 24px;  
}

.recommendation-menu-title-box p{
    font-size: 10px;
    line-height: 16px;
    padding-bottom: 24px;
}

.recommendation-menu-headding-line{
   background-color: #313131;
   height: 1px;
   width: 100%;
}

.recommendation-menu-card-box{
    display: grid;
    grid-template-columns: repeat(auto-fill,min(373px,100%));
    justify-content: center;
    gap: 16px;
}

.recommendation-menu-card{
    width: 100%;
}

.donuts-image-box{
    width: 100%;
    height: 240px;
}

.donuts-image-box img{
    height: auto;
    object-fit: cover;
    width: 100%;
    border-radius: 16px;
}

.menu-detail-box{
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-between;
    padding: 16px 0;
    width: 100%;
    line-height: 24px;
}

.menu-title{
    font-family: 'Roboto Slab';
    font-size: 20px;
    font-weight: bold;
}

.menu-description{
    font-size: 16px;
    padding-top: 16px;
}

.menu-price{
    font-family: 'Roboto Slab';
    font-size: 16px;
    font-weight: bold;
    text-align: end;
}

/**アクセスセクション*/
#access-section{
    margin-inline: auto;
    padding: 40px 16px 16px;
    width: clamp(320px,100%,1280px);
}

.access-map{
    height: 320px;
    width: 100%;
}

.access-map iframe{
    height: 320px;
    object-fit: cover;
    width: 100%;
}

.access-detail{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 24px;
}

.access-detail ul{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 8px;
}

.access-detail h2{
    background-color: #f8f8ff;
    height: 40px;
    padding: 8px 24px;
    width: fit-content;
    border: 2px solid #313131;
    font-family: 'Roboto Slab';
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;

}

.access-detail h3{
    font-family: 'Roboto Slab';
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
}

.access-detail-item{
    font-size: 16px;
    line-height: 24px;
}