/**共通 */
body{
    background-color: #8fbc8f;
    color: #313131;
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans JP','Roboto','Roboto Slab',sans-serif;
    min-height: 100vh;
}

a{
    cursor: pointer;
}

a:hover{
    opacity: 0.7;
}


/**ヘッダー */
#header-nav{
    width: 100%;
}

#header-nav h1{
    text-align: center;
    height: auto;
    margin-inline: auto;
    padding: 16px 0;
    font-size: 24px;
    font-family: 'Roboto Slab';
    font-weight: bold;
    background-image:url('../img/header-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #f8f8ff;
}

.header-nav-list{
    display: flex;
    justify-content: space-between;
    margin-inline: auto;
    padding: 8px 16px;
    width: min(416px,100%);
    font-family: 'Roboto Slab';
    font-size: 16px;
    font-weight: bold;
    
}

/**ニュースセクション*/
#news-section{
    margin-inline: auto;
    width: clamp(320px,100%,1320px);
}

.news-section-inner-box{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    width: 100%;
}

.news-section-title{
    background-color: #f8f8ff;
    color: #313131;
    height: 40px;
    padding: 8px 24px;
    width: fit-content;
    border: 2px solid #313131;
    font-family: 'Roboto Slab';
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
}

.news-item{
    display: flex;
    gap: 8px;
    font-size: 16px;
    line-height: 24px;
}

.news-item p{
    font-family: 'Roboto Slab';
}

.news-item h2{
    text-decoration: underline;
}