/**共通 */
body{
    background-color: #8fbc8f;
    color: #313131;
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans JP','Roboto','Roboto Slab',sans-serif;
    min-height: 100vh;
}

a{
    cursor: pointer;
}

a:hover{
    opacity: 0.7;
}


/**ヘッダー */
#header-nav{
    width: 100%;
}

.header-nav-title{
    font-size: 36px;
    text-align: center;
    height: 120px;
    margin-inline: auto;
    padding: 40px;
    font-family: 'Roboto Slab';
    font-weight: bold;
    background-image:url('../img/header-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #f8f8ff;  
}

.header-nav-list{
    display: flex;
    justify-content: space-between;
    margin-inline: auto;
    padding: 8px 16px;
    width: min(416px,100%);
    font-family: 'Roboto Slab';
    font-size: 16px;
    font-weight: bold;
    
}

/* お問い合わせフォームセクション */
#contact-form-section{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px 16px;
    width: max(320px,100%);
}

.contact-title-box{
    gap: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contact-title-box h2{
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
}

.contact-title-box p{
    font-size: 16px;
    line-height: 24px;
}

.form-card{
    padding: 40px 16px;
    background-color: #f8f8ff;
    border-radius: 16px;
    gap: 24px;
    display: flex;
    flex-direction: column;
    width: min(728px,100%);
    margin-inline: auto;
}

.form-item-box{
    gap: 8px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.form-item-label{
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
}

.required-badge{
    height: 16px;
    width: fit-content;
    background-color: #ff7f50;
    border-radius: 4px;
    padding: 0 8px;
    align-items: center;
    display: flex;
    font-size: 10px;
    line-height: 16px;
    font-weight: bold;
    color: #f8f8ff;
}

.label-box{
    align-items: center;
    display: flex;
    gap: 8px;
}

.text-input{
    padding: 12px 8px;
    border: 1px solid #313131;
    border-radius: 4px;
    height: 40px;
    width: 100%;
    font-size: 12px;
    line-height: 16px;
}

.text-area-input{
    padding: 12px 8px;
    border: 1px solid #313131;
    border-radius: 4px;
    height: 336px;
    width: 100%;
    font-size: 12px;
    line-height: 16px;
}

.submit-button{
    background-color: #ff7f50;
    border-radius: 16px;
    height: 56px;
    width: fit-content;
    padding: 16px 80px;
    margin: 16px auto 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    color: #f8f8ff;
}


/* フッター */

#footer-nav{
    background-image:url('../img/footer-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    padding: 24px 16px;
    width: max(320px,100%);
    margin-top: auto; 
    color: #f8f8ff;
}

.footer-nav-inner-box{
    display: flex;
    height: 100%;
    justify-content: space-between;
    margin-inline: auto;
    width: min(1280px,100%);
}

.footer-nav-list{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    gap: 8px;
    line-height: 16px;
    text-decoration: underline;
}

.footer-left-box{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer-right-box{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: auto;
}

.sns-box{
    display: flex;
    gap: 24px;
    justify-content: center;
}

.copyright{
    font-size: 10px;
    line-height: 16px;
    width: 180px;
}

.copyright br{
    display: none;
}